.footer {
  background-color: #000;
  color: #fff;
  padding: 40px 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

.footer-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: left;
  padding: 20px;
}

.footer-column {
  flex: 1;
  min-width: 200px;
}

.footer-column h4 {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;
  text-transform: uppercase;
  color: #f8d90f;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 8px;
}

.footer-column ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-column ul li a:hover {
  color: #f8d90f;
  text-decoration: underline;
}

/* Footer Bottom */
.footer-bottom {
  text-align: center;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #444;
}

.footer-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

.footer-icons a {
  color: white;
  font-size: 22px;
  transition: color 0.3s ease;
}

.footer-icons a:hover {
  color: #f8d90f;
}

/* App Store Buttons */
.footer-apps {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

.store-button {
  width: 140px;
  transition: transform 0.3s ease-in-out;
}

.store-button:hover {
  transform: scale(1.1);
}

/* Footer Info */
.footer-info {
  text-align: center;
}

.footer-info a {
  color: #f8d90f;
  text-decoration: none;
  margin: 0 8px;
  transition: color 0.3s ease;
}

.footer-info a:hover {
  color: #fff;
}
